+b.HEADER(class="header")
	.container
		.row
			+e.logo
				a(href="/" class="logo" title="Логотип")
					img(src="img/logo.png")
			+e.NAV.nav
				ul
					each link,title in nav.navPages
						li
							a(href= link)= title

			+e.modal
				a(data-effect="mfp-zoom-in" data-info="Обратный звонок" href="#popup" class="open-popup-link" title='Вызов стандартного модального окна') Обратный звонок