extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block main
	+b.SECTION.top-section
		.swiper-wrapper
			.swiper-slide
				.container
					+e.title
						h1
							| ПРОИЗВОДСТВО КОРПУСНОЙ МЕБЕЛИ НА ЗАКАЗ
						p
							| Для жилых, гостиничных и офисных
							| помещений по Вашим размерам и
							| пожеланиям
						+e.links-wrap
							a(href="#" class="main_btn") СМОТРЕТЬ ФОТО
								i.fa.fa-long-arrow-right
							a(href="#" class="main_btn") БЕСПЛАТНЫЙ ЗАМЕР
								i.fa.fa-long-arrow-right
			.swiper-slide
				.container
					.row
						+e.title
							h1
								| ПРОИЗВОДСТВО ЧЕГО ТО ТАМ ЕЩЁ
							p
								| Для жилых, гостиничных и офисных
								| помещений по Вашим размерам и
								| пожеланиям
							+e.links-wrap
								a(href="#" class="main_btn") СМОТРЕТЬ ФОТО
									i.fa.fa-long-arrow-right
								a(href="#" class="main_btn") БЕСПЛАТНЫЙ ЗАМЕР
									i.fa.fa-long-arrow-right
		+e.slider-control
			+e.slider-navigation
				.swiper-button-prev
					i.fa.fa-angle-left
				.swiper-button-next
					i.fa.fa-angle-right
	// Секция  our_advantages
	+b.SECTION#our_advantages.our-advantages
		.container
			.row
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img.png")
						p Более 10-ти лет на рынке
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img2.png")
						p Более 1000 реализованых проектов
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img3.png")
						p Индивидуальный подход к каждому клиенту
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img4.png")
						p
							| Широкий ассортимент материалов
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img5.png")
						p 24 месяца гарантии
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img6.png")
						p Минимальный срок выполнения заказа
	// Секция we-do
	+b.SECTION.we-do
		.container
			+e.inner-wrap
				+e.title.-main-pattern-bg
					h2 Мы делаем:
					+e.slider-navigation
						.button-prev.noselect
							i.fa.fa-angle-left
						.button-next.noselect
							i.fa.fa-angle-right
				+e.slider
					.swiper-wrapper
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img.jpg")
									.swiper-slide__title-slide
										| Ш К А Ф Ы - К У П Е
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img2.jpg")
									.swiper-slide__title-slide
										| К У Х Н И
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img3.jpg")
									.swiper-slide__title-slide
										| С П А Л Ь Н И
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| Д Е Т С К И Е
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| В А Н Н Ы Е
						.swiper-slide
							.swiper-slide__img
								a(href="#")
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| К У Х Н И
	// Секция rates
	+b.SECTION.rates
		.container
			+e.item
				.row
					.col-lg-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  СТАНДАРТ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от
									|
									span 5 000 грн.
								+e.item-link
									a(href="#" class="main_btn2") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img.jpg")
					+e.item-img-bg.-main-pattern-bg
			+e.item
				.row
					.col-lg-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  ПРЕСТИЖ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от
									|
									span 10 000 грн.
								+e.item-link
									a(href="#" class="main_btn2") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img2.jpg")
					+e.item-img-bg.-main-pattern-bg
			+e.item
				.row
					.col-lg-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  ЭЛИТ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от
									|
									span 15 000 грн.
								+e.item-link
									a(href="#" class="main_btn2") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img3.jpg")
					+e.item-img-bg.-main-pattern-bg
	// Секция calculate-price
	+b.SECTION.calculate-price
		.container
			+e.title
				| цена варьируется в зависимости от размеров и материалов изделия
			+e.item-link
				a(href="#" class="main_btn") Рассчитать
					i.fa.fa-long-arrow-right
	// Секция partners
	+b.SECTION.partners
		.container
			+e.inner-wrap
				.row
					.col-lg-3
						+e.title.-main-pattern-bg
							h2 Партнёры:
							+e.slider-navigation
								.button-prev.noselect
									i.fa.fa-angle-left
								.button-next.noselect
									i.fa.fa-angle-right
					.col-lg-9.slider-center
						+e.slider
							.swiper-wrapper
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img.jpg")
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img2.jpg")
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img3.jpg")
	// Секция stages-of-work
	+b.stages-of-work
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ЭТАПЫ РАБОТЫ:
			+e.item.row
				+e.item-line-wrap.col-xl-3
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-4
					img(src="img/stages-of-work-num.png")
					span
						| ЗАМЕР
			+e.item.row
				+e.item-line-wrap.col-xl-4
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-3
					img(src="img/stages-of-work-num2.png")
					span
						| ДИЗАЙН
			+e.item.row
				+e.item-line-wrap.col-xl-5
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-2
					img(src="img/stages-of-work-num3.png")
					span
						| ИЗГОТОВЛЕНИЕ
			+e.item.row
				+e.item-line-wrap.col-xl-6
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-1
					img(src="img/stages-of-work-num4.png")
					span
						| ДОСТАВКА
			+e.item.row
				+e.item-line-wrap.col-xl-7
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5
					img(src="img/stages-of-work-num5.png")
					span
						| МОНТАЖ
	// Секция submit-your-application
	+b.SECTION.submit-your-application
		.container
			.row
				.col-xl-5
					+e.title.-main-pattern-bg
						h2
							| ОСТАВИТЬ ЗАЯВКУ НА
							| ВЫЕЗД ЗАМЕРЩИКА:
				.col-xl-6.offset-xl-1
					+e.form
						form
							.input_wrap
								i.fa.fa-check
								input(name="name" type="text" placeholder="Ваше имя")
							.input_wrap
								i.fa.fa-check
								input(name="phone_mask" type="tel" class="mask" placeholder="+38(___) ___-__-__")
							button(type="submit" class="main_btn") Отправить
								i.fa.fa-long-arrow-right
	// Секция completed-orders
	+b.SECTION.completed-orders
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ВЫПОЛНЕННЫЕ ЗАКАЗЫ:
			.row.item-wrap
				.col-xl-6
					+e.item
						+e.item-img
							img(src="img/completed-orders-img.jpg")
						+e.item-txt
							h3
								| Шкаф-купе
								|
								span ЭЛИТ
							p
								|    Lorem ipsum dolor sit amet, consect
								| etur adipisicing elit, sed do eiusmod
								| tempor incididunt utlabore et dolore
								| magna aliqua. Ut enim ad minim veni
								| nim ad minim nim ad minimnim ad
								| minimam.
				.col-xl-6
					+e.item
						+e.item-img
							img(src="img/completed-orders-img.jpg")
						+e.item-txt
							h3
								| Шкаф-купе
								|
								span ЭЛИТ
							p
								|    Lorem ipsum dolor sit amet, consect
								| etur adipisicing elit, sed do eiusmod
								| tempor incididunt utlabore et dolore
								| magna aliqua. Ut enim ad minim veni
								| nim ad minim nim ad minimnim ad
								| minimam.
			.row.item-wrap
				.col-xl-6
					+e.item
						+e.item-txt
							h3
								| Шкаф-купе
								|
								span ЭЛИТ
							p
								|    Lorem ipsum dolor sit amet, consect
								| etur adipisicing elit, sed do eiusmod
								| tempor incididunt utlabore et dolore
								| magna aliqua. Ut enim ad minim veni
								| nim ad minim nim ad minimnim ad
								| minimam. nim ad minim nim ad minimnim ad
								|                                | minimam.nim ad minim nim ad minimnim ad
								|                                | minimam.
						+e.item-img
							img(src="img/completed-orders-img.jpg")
				.col-xl-6
					+e.item
						+e.item-txt
							h3
								| Шкаф-купе
								|
								span ЭЛИТ
							p
								|    Lorem ipsum dolor sit amet, consect
								| etur adipisicing elit, sed do eiusmod
								| tempor incididunt utlabore et dolore
								| magna aliqua. Ut enim ad minim veni
								| nim ad minim nim ad minimnim ad
								| minimam.
						+e.item-img
							img(src="img/completed-orders-img.jpg")
	// Секция what-they-say-about-us
	+b.SECTION.what-they-say-about-us
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ЧТО О НАС ГОВОРЯТ:

	// Секция ask-form-title
	+b.SECTION.intermediate
		.container
			+e.title
				h2 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
			+e.wrap
				form#form-file.clearfix
					.file_wrap
						input(type='file' name='field' multiple)
					.row
						+e.item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Имя')
						+e.item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='email', type='email', placeholder='Почта')
						+e.item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='phone', type='tel', placeholder='Телефон')
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						+e.item.col-lg-3
							input(type='submit', value='Записаться')
			h3 Пример табов с вложенностью ещё одного таба
			.tabs-items-wrap
				button.main_btn.tabs-item.active Мужские размеры
				button.main_btn.tabs-item Женские размеры
			.tabs-wrap.active
				p.
					Lorem ipsum dolor sit amet, an eam simul albucius. An ius duis aeque suscipit, ius ullum suscipit eu. Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
			.tabs-wrap
				p.
					Persius volumus est cu! Ad populo erroribus sed. Timeam legimus maiorum usu te, civibus detracto at vel. Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.
				h4 Вложенный таб
				.tabs-items-wrap-inner
					button.main_btn.tabs-item.active Мужские размеры 2
					button.main_btn.tabs-item Женские размеры 2
					.tabs-wrap-inner.active
						p Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
					.tabs-wrap-inner
						p Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.