extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block main
	+b.SECTION.top-section
		.swiper-wrapper
			.swiper-slide
				.container
					.row
						.offset-xl-1.col-lg-12
							+e.title
								h1
									| ПРОИЗВОДСТВО КОРПУСНОЙ МЕБЕЛИ НА ЗАКАЗ
								p
									| Для жилых, гостиничных и офисных
									| помещений по Вашим размерам и
									| пожеланиям
								+e.links-wrap
									a(href="#" class="main_btn scroll_to" data-scroll="we-do") СМОТРЕТЬ ФОТО
										i.fa.fa-long-arrow-right
									a(href="#popup2" class="main_btn open-popup-link" data-info="Бесплатный замер" title='Вызов модального окна') БЕСПЛАТНЫЙ ЗАМЕР
										i.fa.fa-long-arrow-right
			.swiper-slide
				.container
					.row
						.offset-xl-1.col-lg-12
							+e.title
								h1
									| ПРОИЗВОДСТВО ЧЕГО ТО ТАМ ЕЩЁ
								p
									| Для жилых, гостиничных и офисных
									| помещений по Вашим размерам и
									| пожеланиям
								+e.links-wrap
									a(href="#" class="main_btn") СМОТРЕТЬ ФОТО
										i.fa.fa-long-arrow-right
									a(href="#" class="main_btn") БЕСПЛАТНЫЙ ЗАМЕР
										i.fa.fa-long-arrow-right
		+e.slider-control
			+e.slider-navigation
				.swiper-button-prev
					i.fa.fa-angle-left
				.swiper-button-next
					i.fa.fa-angle-right
	// Секция  our_advantages
	+b.SECTION#our_advantages.our-advantages
		.container
			.row
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img.png")
						p Более 10-ти лет на рынке
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img2.png")
						p Более 1000 реализованых проектов
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img3.png")
						p Индивидуальный подход к каждому клиенту
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img4.png")
						p
							| Широкий ассортимент материалов
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img5.png")
						p 24 месяца гарантии
				.col-lg-4.col-md-6
					+e.item
						+e.img
							img(src="img/our-advantages__img6.png")
						p Минимальный срок выполнения заказа
	// Секция we-do
	+b.SECTION.we-do#we-do
		.container
			+e.inner-wrap
				+e.title.-main-pattern-bg
					h2 Мы делаем:
					+e.slider-navigation
						.button-prev.noselect
							i.fa.fa-angle-left
						.button-next.noselect
							i.fa.fa-angle-right
				+e.slider
					.swiper-wrapper#swiper-wrapper
						.swiper-slide
							//Большая картинка это путь data-src=
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img.jpg")
								a(href="#")
									img(src="img/we-do-slider-img.jpg")
									.swiper-slide__title-slide
										| Ш К А Ф Ы - К У П Е
						.swiper-slide
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img2.jpg")
								a(href="#")
									img(src="img/we-do-slider-img2.jpg")
									.swiper-slide__title-slide
										| К У Х Н И
						.swiper-slide
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img3.jpg")
								a(href="#")
									img(src="img/we-do-slider-img3.jpg")
									.swiper-slide__title-slide
										| С П А Л Ь Н И
						.swiper-slide
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img4.jpg")
								a(href="#" )
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| Д Е Т С К И Е
						.swiper-slide
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img4.jpg")
								a(href="#")
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| В А Н Н Ы Е
						.swiper-slide
							.swiper-slide__img(class="item" data-src="img/we-do-slider-img4.jpg")
								a(href="#")
									img(src="img/we-do-slider-img4.jpg")
									.swiper-slide__title-slide
										| К У Х Н И
	// Секция rates
	+b.SECTION.rates
		.container
			+e.item
				.row
					.col-lg-12.col-xl-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  СТАНДАРТ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от
									|
									span 5 000 грн.
								+e.item-link
									a(href="#popup2" class="main_btn2 open-popup-link" data-info="Шкаф-купе - СТАНДАРТ" title="Вызов модального окна") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img.jpg")
					+e.item-img-bg.-main-pattern-bg
			+e.item
				.row
					.col-lg-12.col-xl-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  ПРЕСТИЖ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от
									|
									span 10 000 грн.
								+e.item-link
									a(href="#popup2" class="main_btn2 open-popup-link" data-info="Шкаф-купе - ПРЕСТИЖ" title="Вызов модального окна") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img2.jpg")
					+e.item-img-bg.-main-pattern-bg
			+e.item
				.row
					.col-lg-12.col-xl-8
						+e.item-description
							h3 Шкаф-купе
								|
								span  ЭЛИТ
							p
								| Составляющая: ДСП Украина, раздвижная система ARIO, наполнение дверей ДСП,
								| полки, штанга для одежды (без ящиков).
							+e.item-price-wrap
								+e.item-price
									| Цена: от #[span 15 000 грн.]
								+e.item-link
									a(href="#popup2" class="main_btn2 open-popup-link" data-info="Шкаф-купе - ЭЛИТ" title="Вызов модального окна") ЗАКАЗАТЬ
										i.fa.fa-long-arrow-right
					+e.item-img-block
						img(src="img/rates-img3.jpg")
					+e.item-img-bg.-main-pattern-bg
	// Секция calculate-price
	+b.SECTION.calculate-price
		.container
			+e.title
				| цена варьируется в зависимости от размеров и материалов изделия
			+e.item-link
				a(href="#popup2" class="main_btn open-popup-link" data-info="Цена варьируется - Рассчитать" title='Вызов модального окна') Рассчитать
					i.fa.fa-long-arrow-right
	// Секция partners
	+b.SECTION.partners
		.container
			+e.inner-wrap
				.row
					.col-lg-3
						+e.title.-main-pattern-bg
							h2 Партнёры:
							+e.slider-navigation
								.button-prev.noselect
									i.fa.fa-angle-left
								.button-next.noselect
									i.fa.fa-angle-right
					.col-lg-9.slider-center
						+e.slider
							.swiper-wrapper
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img.jpg")
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img2.jpg")
								.swiper-slide
									.swiper-slide__img
										img(src="img/partners-img3.jpg")
	// Секция stages-of-work
	+b.stages-of-work
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ЭТАПЫ РАБОТЫ:
			+e.item.row
				+e.item-line-wrap.col-xl-3
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-4
					img(src="img/stages-of-work-num.png")
					span
						| ЗАМЕР
			+e.item.row
				+e.item-line-wrap.col-xl-4
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-3
					img(src="img/stages-of-work-num2.png")
					span
						| ДИЗАЙН
			+e.item.row
				+e.item-line-wrap.col-xl-5
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-2
					img(src="img/stages-of-work-num3.png")
					span
						| ИЗГОТОВЛЕНИЕ
			+e.item.row
				+e.item-line-wrap.col-xl-6
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5.offset-xl-1
					img(src="img/stages-of-work-num4.png")
					span
						| ДОСТАВКА
			+e.item.row
				+e.item-line-wrap.col-xl-7
					+e.item-line
						img(src="img/stages-of-work-line.png")
				+e.item-txt.col-xl-5
					img(src="img/stages-of-work-num5.png")
					span
						| МОНТАЖ
	// Секция submit-your-application
	+b.SECTION.submit-your-application
		.container
			.row
				.col-xl-5
					+e.title.-main-pattern-bg
						h2
							| ОСТАВИТЬ ЗАЯВКУ НА
							| ВЫЕЗД ЗАМЕРЩИКА:
				.col-xl-6.offset-xl-1
					+e.form
						form
							.input_wrap
								i.fa.fa-check
								input(name="name" type="text" placeholder="Ваше имя")
							.input_wrap
								i.fa.fa-check
								input(name="phone_mask" type="tel" class="mask" placeholder="+38(___) ___-__-__")
							input(type='hidden', name='form_name', value='Оставить заявку на выезд замерщика')
							input(type='hidden', name='form_type', value='normal')
							button(type="submit" class="main_btn") Отправить
								i.fa.fa-long-arrow-right
	// Секция completed-orders
	+b.SECTION.completed-orders
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ВЫПОЛНЕННЫЕ ЗАКАЗЫ:
			.item-wrap
				.row
					.col-xl-6
						+e.item
							+e.item-img
								img(src="img/completed-orders-img.jpg")
							+e.item-txt.left-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam.
					.col-xl-6
						+e.item
							+e.item-img
								img(src="img/completed-orders-img.jpg")
							+e.item-txt.left-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam.
			.item-wrap
				.row
					.col-xl-6
						+e.item.order-flex-img-up
							+e.item-txt.right-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam. nim ad minim nim ad minimnim ad
									|                                | minimam.nim ad minim nim ad minimnim ad
									|                                | minimam.
							+e.item-img
								img(src="img/completed-orders-img.jpg")
					.col-xl-6
						+e.item.order-flex-img-up
							+e.item-txt.right-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam.
							+e.item-img
								img(src="img/completed-orders-img.jpg")
			.item-wrap.hide
				.row
					.col-xl-6
						+e.item.order-flex-img-up
							+e.item-txt.right-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam. nim ad minim nim ad minimnim ad
									|                                | minimam.nim ad minim nim ad minimnim ad
									|                                | minimam.
							+e.item-img
								img(src="img/completed-orders-img.jpg")
					.col-xl-6
						+e.item.order-flex-img-up
							+e.item-txt.right-side
								h3
									| Шкаф-купе
									|
									span ЭЛИТ
								p
									|    Lorem ipsum dolor sit amet, consect
									| etur adipisicing elit, sed do eiusmod
									| tempor incididunt utlabore et dolore
									| magna aliqua. Ut enim ad minim veni
									| nim ad minim nim ad minimnim ad
									| minimam.
							+e.item-img
								img(src="img/completed-orders-img.jpg")
			+e.btn-wrap
				button(type="button" class="main_btn") ПОКАЗАТЬ ЕЩЕ
					i.fa.fa-long-arrow-right
	// Секция what-they-say-about-us
	+b.SECTION.what-they-say-about-us#what-they-say-about-us
		.container
			.row
				.col-lg-12
					+e.title.-main-pattern-bg
						h2 ЧТО О НАС ГОВОРЯТ:
			+e.slider
				.swiper-wrapper
					.swiper-slide
						.swiper-slide__decor-quote-icon
							img(src="img/what-they-say-about-us-slider-quote-icon.png")
						.swiper-slide__decor-block.left.-main-pattern-bg
						.swiper-slide__decor-block.right.-main-pattern-bg
						.swiper-slide__inner
							.swiper-slide__img
								img(src="img/what-they-say-about-us-slider-img.jpg")
							.swiper-slide__txt
								.swiper-slide__txt-inner
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodv
										| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										| nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq.
									p
										| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
										| qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										| iste natus error sit voluptatem accusantium doloremque laudantium.
								.name
									| Александр Морозов
					.swiper-slide
						.swiper-slide__decor-quote-icon
							img(src="img/what-they-say-about-us-slider-quote-icon.png")
						.swiper-slide__decor-block.left.-main-pattern-bg
						.swiper-slide__decor-block.right.-main-pattern-bg
						.swiper-slide__inner
							.swiper-slide__img
								img(src="img/what-they-say-about-us-slider-img.jpg")
							.swiper-slide__txt
								.swiper-slide__txt-inner
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodv
										| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										| nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq.
									p
										| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
										| fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
										| qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
										| iste natus error sit voluptatem accusantium doloremque laudantium.
								.name
									| Юрий Жаров
				+e.slider-control
					+e.slider-navigation
						.swiper-button-prev
							i.fa.fa-angle-left
						.swiper-button-next
							i.fa.fa-angle-right
	// Секция calculation-of-the-cost-of-photo
	+b.SECTION.calculation-of-the-cost-of-photo
		.container
			.row
				.col-lg-5.flex-center
					+e.title.-main-pattern-bg
						h2 РАСЧЕТ СТОИМОСТИ #[br] ПО ФОТО:
				.col-xl-6.offset-xl-1
					+e.form
						form#form-file
							.input_wrap
								i.fa.fa-check
								input(name="phone_mask" type="tel" class="mask" placeholder="+38(___) ___-__-__")
							.input_wrap
								input(type='file' value='' multiple='' accept='image/*' name="field")
								.fileLoad
									input(type='text' id="file" placeholder='Выберите файл')
									button(type='button' class="main_btn") ЗАГРУЗИТЬ ФОТО
										i.fa.fa-long-arrow-right
							.input_wrap
								i.fa.fa-check
								textarea(name="textarea" placeholder="Напишите ваши замеры и пожелания")
							input(type='hidden', name='form_name', value='Расчёт ')
							input(type='hidden', name='form_type', value='normal')
							button(type="submit" class="main_btn") Отправить
								i.fa.fa-long-arrow-right
	// Секция up
	+b.SECTION.up
		.container
			+e.arrow
				a(href="#" class="scroll_to" data-scroll="header")
					i.fa.fa-angle-up

block map-script
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKgk8tJ_rz4_AyIYmhUARpZTkK_9GWynk" async="" defer="")
