//Модальное окно
#popup.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title.
			Введите данные
		p.modal-paragraph.
			и мы Вам перезвоним
		div
			.input_wrap
				i.fa.fa-check
				input(name="name" type="text" placeholder="Имя")
			.input_wrap
				i.fa.fa-check
				input(name="phone_mask" type="tel" class="mask" placeholder="+38(___) ___-__-__")
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить")
//Модальное окно 2
#popup2.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title.
			Введите данные
		p.modal-paragraph.
			и мы Вам перезвоним
		div
			.input_wrap
				i.fa.fa-check
				input(name="name" type="text" placeholder="Имя")
			.input_wrap
				i.fa.fa-check
				input(name="phone_mask" type="tel" class="mask" placeholder="+38(___) ___-__-__")
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="E-mail")
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить")
// Модальное окно success
#popup-success.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Заявка отправлена



