.swiper-button-prev,.swiper-button-next
	display: inline-block
	position: relative
	background-image: none
	width: inherit
	height: inherit
	top: inherit
	left: inherit
	right: inherit
	margin: 0
	user-select: none
// Секция top-section
.top-section
	text-align: center
	min-height: 700px
	overflow: hidden
	position: relative
	height: 100vh
	.container
		height: 100%
		min-height: 100%
	&__slider-control
		width: 70px
		height: 70px
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		bottom: 60px
		left: 0
		right: 0
		margin: auto
		opacity: 0.9
		background-color: white
		border-radius: 35px
		z-index: 10
	&__title
		width: 670px
		position: relative
		margin-top: 233px
		padding: 55px 60px 60px 60px
		background-color: #ffffff
		text-align: left
		h1
			width: 470px
			margin-bottom: 30px
			display: inline-block
		p
			width: 470px
			fz(28)
			color: $main_txt_color
	&__links-wrap
		position: absolute
		top: 50%
		right: -350px
		transform translateY(-50%)
		a
			min-width: 200px
			margin-right: 30px
			&:last-of-type
				min-width: 230px
				margin-right: 0
	.swiper-wrapper
		box-sizing border-box
	.swiper-button-prev,.swiper-button-next
		&:hover i
			color: $main_color
		i
			font-size: 26px
			transition: 0.5s
	.swiper-button-prev
		margin-right: 10px
	.swiper-slide
		background-size: cover!important
		&:nth-of-type(1)
			background: url(../img/header_bg.jpg) no-repeat
		&:nth-of-type(2)
			background: url(../img/header_bg2.jpg) no-repeat
// Секция our_advantages
.our-advantages
	background-color: #f2f2f2
	padding-top: 60px
	padding-bottom: 30px
	.our-advantages__item
		min-height: 160px
		margin-bottom: 30px
		padding-top: 20px
		padding-left: 25px
		padding-right: 25px
		box-shadow: 0 6px 15.5px 1.5px rgba(51, 51, 51, 0.1)
		background-color: #fff
		p
			margin-top: 15px
			font-size: 16px
			font-family $font_ProximaNovaLight
			line-height: 1.2
			text-align: center
		.our-advantages__img
			margin-bottom: 20px
			text-align: center
.-main-pattern-bg
	background: #fff url(../img/main-pattern-bg.png) left top repeat
// Секция .we-do
.we-do
	background-color: #fff
	overflow: hidden
	&__inner-wrap
		min-height: 470px
		display: flex
		align-items: center
		position: relative
	&__title
		width: 300px
		height: 220px
		padding-left: 30px
		position: relative
		display: flex
		align-items: center
	&__slider
		width: 1350px
		overflow: hidden
		position: absolute
		top: 0
		left: 300px
	&__slider-navigation
		position: absolute
		top: 60%
		left: 30px
		.button-next,.button-prev
			display: inline-block
			cursor: pointer
			font-size: 26px
			transition: 0.5s
			&:hover
				color: $main_color
		.button-prev
			margin-right: 20px
	.swiper-slide
		img
			max-width 100%
			height auto
	.swiper-slide__img
		width: 100%
		position: relative
		&:hover .swiper-slide__title-slide
			top: 50%
			transform translateY(-50%)
	.swiper-slide__title-slide
		width: 100%
		height: 50px
		line-height: 50px
		position: absolute
		top: 100%
		transform translateY(-100%)
		background-color: rgba(0,0,0,0.6)
		color: #fff
		text-transform uppercase
		font-size: 18px
		text-align: center
		font-family: $font_ProximaNovaLight
		transition: 0.5s
// Секция .rates
.rates
	background-color: #fff
	padding-top: 30px
	padding-bottom: 30px
	&__item
		height: 250px
		margin-bottom: 15px
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
	&__item-description
		padding: 20px 40px 20px 20px
		box-shadow: 0 6px 15.5px 1.5px rgba(51, 51, 51, 0.1),0 -1px 15.5px 1.5px rgba(51, 51, 51, 0.1)
		h3
			font-size: 26px
			margin-bottom: 10px
			span
				color: $main_color
		p
			margin-bottom: 15px
			font-family: $font_ProximaNovaLight
	&__item-price
		width: 250px
		font-size: 22px
		span
			color: $main_color
	&__item-img-block
		position: absolute
		top: 15px
		right: 15px
		z-index: 1
	&__item-img-bg
		width: 270px
		height: 250px
		background-color: #f2f2f2
		position: absolute
		top: 0
		right: 0
		z-index: 0
	&__item-price-wrap
		display: flex
		align-items: center
// Секция .calculate-price
.calculate-price
	background-color: #fff
	padding-bottom: 50px
	text-align: center
	&__title
		margin-bottom: 50px
		font-size: 24px
		text-transform: uppercase
		font-family: $font_ProximaNovaSemibold
// Секция partners
.partners
	background-color: #fff
	padding-bottom: 50px
	padding-top: 50px
	&__title
		height: 220px
		padding-left: 30px
		position: relative
		display: flex
		align-items: center
	&__slider-navigation
		position: absolute
		top: 60%
		left: 30px
		.button-next,.button-prev
			display: inline-block
			cursor: pointer
			font-size: 26px
			transition: 0.5s
			&:hover
				color: $main_color
		.button-prev
			margin-right: 20px
	&__slider
		overflow: hidden
// Секция partners
.partners
	background-color: #fbfbfb
	.slider-center
		display: flex
		align-items: center
	.swiper-slide__img
		width: 270px
		text-align: center
// Секция stages-of-work
.stages-of-work
	padding-top: 50px
	padding-bottom: 50px
	background: #fff url(../img/stages-of-work-bg.jpg) center 120px no-repeat
	.row
		&:first-of-type
			margin-bottom: 50px
	&__title
		min-height: 140px
		display: flex
		align-items: center
		justify-content: center
		h2
			margin: 0
			line-height: 0.8
	&__item-line
		overflow: hidden
	&__item-line-wrap
		display: flex
		align-items: center
	&__item
		margin-bottom: 50px
		span
			margin-left: 70px
			fz(32)
			font-family: $font_ProximaNovaSemibold
		&:nth-of-type(6)
			img
				margin-left: 5px
	&__item-txt
		display: flex
		align-items: center
// Секция .submit-your-application
.submit-your-application
	padding-top: 60px
	padding-bottom: 60px
	background-color: #f3f3f3
	&__title
		height: 220px
		padding-left: 30px
		display: flex
		align-items: center
	&__form
		form
			margin-top: 30px
		.input_wrap
			i
				top: 10px
		input
			width: 100%
			height: 34px
			margin-bottom: 20px
			padding-left: 30px
			line-height: 35px
			color: $main_txt_color
			font-family: $font_ProximaNovaLight
			background-color: #fff
			border: 1px solid transparent
			transition: border 0.5s
			&:hover
				outline: 0
			&:active
				outline: 0
				border: 1px solid $main_color
			&:focus
				outline: 0
				border: 1px solid $main_color
.completed-orders
	padding-top: 50px
	padding-bottom: 50px
	background: #fff
	.container
		&>.row
			&:first-of-type
				margin-bottom: 60px
	&__title
		min-height: 140px
		display: flex
		align-items: center
		justify-content: center
		h2
			margin: 0
			line-height: 0.8
	&__item
		margin-bottom: 30px
		display: flex
	&__item-img
		width: 270px
		height: 200px
		flex-shrink 0
		img
			max-width 100%
			height: auto
	&__item-txt
		width: 300px
		padding: 20px 20px 20px 30px
		flex-shrink 0
		box-shadow: 0 6px 15.5px 1.5px rgba(51, 51, 51, 0.1), 0 0 15.5px 1.5px rgba(51, 51, 51, 0.1)
		position: relative
		&.right-side
			&:after
				css-triangle(#fff,right,10px)
				top: calc(50% - 5px)
				right: 0
		&.left-side
			&:after
				css-triangle(#fff,left,10px)
				top: calc(50% - 5px)
				left: 0
		h3
			margin-bottom: 15px
			fz(22)
			span
				text-transform: uppercase
				font-family: $font_ProximaNovaSemibold
				color: $main_color
		p
			max-height 115px
			overflow: hidden
	&__btn-wrap
		text-align: center
	.item-wrap
		&:nth-last-of-type(2)
			margin-bottom: 20px
		&.hide
			display: none
		&.show
			display: flex!important
// Секция what-they-say-about-us
.what-they-say-about-us
	padding-top: 50px
	padding-bottom: 50px
	background: #fff
	.row
		&:first-of-type
			margin-bottom: 60px
	&__title
		min-height: 140px
		display: flex
		align-items: center
		justify-content: center
		h2
			margin: 0
			line-height: 0.8
	&__slider
		overflow: hidden
		padding-top: 10px
	.swiper-slide__inner
		width: 1110px
		height: 300px
		background: #fff
		margin: 30px auto 85px
		padding-left: 40px
		padding-top: 80px
		padding-right: 25px
		display: flex
		box-shadow: 0 6px 15.5px 1.5px rgba(51, 51, 51, 0.1), 0 0 15.5px 1.5px rgba(51, 51, 51, 0.1)
	.swiper-slide__img
		margin-right: 30px
		flex-shrink 0
	.swiper-slide__txt
		width: 510px
		flex-shrink 0
		p
			font-family: $font_ProximaNovaLight
			margin-bottom: 15px
		.name
			font-family: $font_main_regular
			font-size: 18px
	.swiper-slide__txt-inner
		height: 150px
		margin-bottom: 20px
		overflow: hidden
	.swiper-slide__decor-block
		width: 270px
		height: 360px
		position: absolute
		top: 0
		z-index: -1
		&.left
			left: 0
		&.right
			right: 0
	.swiper-slide__decor-quote-icon
		position: absolute
		top: -10px
		left: 50%
		transform translateX(-50%)
	&__slider-control
		width: 70px
		height: 70px
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		bottom: 5px
		left: 51.4%
		right: 0
		background-color: #f3f3f3
		border-radius: 35px
		z-index: 10
	.swiper-button-prev,.swiper-button-next
		i
			font-size: 26px
			transition: 0.5s
			&:hover
				color $main_color
	.swiper-button-prev
		margin-right: 10px
// Секция calculation-of-the-cost-of-photo
.calculation-of-the-cost-of-photo
	padding-top: 60px
	padding-bottom: 60px
	background-color: #f3f3f3
	&__title
		width: 100%
		height: 220px
		padding-left: 30px
		display: flex
		align-items: center
		flex-shrink 0
	&__form
		form
			margin-top: 30px
		.input_wrap
			overflow: hidden
			i
				top: 10px
		input
			width: 100%
			height: 34px
			margin-bottom: 20px
			padding-left: 30px
			line-height: 35px
			color: $main_txt_color
			font-family: $font_ProximaNovaLight
			background-color: #fff
			border: 1px solid transparent
			transition: border 0.5s
			&:hover
				outline: 0
			&:active
				outline: 0
				border: 1px solid $main_color
			&:focus
				outline: 0
				border: 1px solid $main_color
		input[type=file]
			width: 100%
			height: 50px
			opacity: 0
			position: absolute
			top: 0
			right: 0
			z-index: 200
			margin: 0
			cursor: pointer
			-webkit-appearance: none
		textarea
			width: 100%
			height: 80px
			margin-bottom: 20px
			padding-left: 30px
			line-height: 35px
			color: $main_txt_color
			font-family: $font_ProximaNovaLight
			background-color: #fff
			border: 1px solid transparent
			transition: border 0.5s
			&:hover
				outline: 0
			&:active
				outline: 0
				border: 1px solid $main_color
			&:focus
				outline: 0
				border: 1px solid $main_color
		.fileLoad
			cursor: pointer
			button
				width: 268px
				position: absolute
				right: -1px
				top: 0
				i
					color: #fff
				&.button-hover
					background-color: #333333
					color: #fff
					text-decoration: none
					outline: 0
					i
						left: 10px
			input
				width: 270px
				height: 51px
				margin-bottom: 17px
				line-height: 50px
				white-space: nowrap
				text-overflow: ellipsis
			i.fa-long-arrow-right
				position: relative
				top: 0
				left: 0
				display: inline-block


//	Секция up
.up
	height: 100px
	background-color: #fff
	.container
		height: 100%
		position: relative
		display: flex
	&__arrow
		width: 30px
		height: 30px
		display: flex
		margin-left: auto
		margin-top: 60px
		align-items: center
		justify-content: center
		background-color: #f8a80f
		border-radius: 15px
		a
			color: $main_txt_color
			text-decoration: none
			&:hover i
				color: #fff
			&:hover
				text-decoration: none
			&:active
				text-decoration: none
			&:focus
				text-decoration: none

		i
			font-size: 23px
			transition: 0.5s
//	Секция footer
.footer
	padding-top: 60px
	background: url(../img/main-pattern-bg-gray.png) left top repeat
	&__vidget
		height: 266px
		iframe
			width: 100%
	&__contacts
		h3
			margin-bottom: 20px
			fz(22)
			color: $main_color
	&__contacts-item
		margin-bottom: 20px
		display: flex
		align-items: center
		font-family: $font_ProximaNovaLight
		color: #fff
		i
			width: 26px
			color: $main_color
			font-size: 22px
			margin-right: 3px
		a
			color: #fff
			&:hover
				text-decoration: underline
			&:active
				text-decoration: underline
			&:focus
				text-decoration: underline

	&__map
		height: 245px
		position: relative
	&__copyright
		height: 70px
		display: flex
		border-top: 1px solid #636363
		align-items: center
		p
			margin-left: auto
			color: #fff
		a
			color: $main_color
			text-decoration: none
			&:hover
				text-decoration: underline
			&:active
				text-decoration: underline
			&:focus
				text-decoration: underline

//	Секция